.intro
  display: flex
  flex-wrap: wrap
  align-items: center
  margin: 70px auto 100px
  max-width: 1200px
  width: 80vw
  +tablet()
    margin: 100px auto

.intro-figure
  margin-left: 10%
  width: 40%
  +tablet()
    order: 1
    margin: auto
    margin-bottom: 50px
    width: 90%

.intro-info
  width: 50%
  +tablet()
    order: 2
    width: 100%

.intro-title
  margin: 0 0 1em
  color: $primary
  font-size: $font-massive
  +tablet()
    font-size: $font-large
  +dark()
    color: $white
    &::after
      display: block
      margin-top: 10px
      width: 100px
      height: 8px
      background: $primary
      content: ''

.intro-subtitle
  font-weight: normal
  font-size: $font-medium
  +dark()
    color: $white